.tgl {
    width: 100px;
}

#email_or_number, #new_pasword {
    width: 97%;
    height: 25px;
    margin-bottom: 10px;
}

#first_name, #surname{
    width: 95%;
    height: 25px;
    margin-bottom: 10px;
}

.modal-gender{
    
    width: 45%;
    margin-top: 10px;
    display: flex;
    align-items: center; 
 }

 .pilihan-jenis-kelamin{  
    width: 20%;
    display: flex;
}

.nama-jenis-kelamin{
    border: 1px solid black;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

#female {
    width: 34px;
}

#custom {
    width: 34px;
}

#male {
    width: 34px;
}

.sing_up {
    background-color: #2f9132;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}